In [1]:
import pandas
import numpy

In [2]:
groups = pandas.DataFrame(columns = ['Question', 'Random', 'Group'])
groups['Group'] = [x for x in range (0,10)]
groups['Random'] = numpy.random.sample(10);
groups.sort_values(by='Random', inplace = True)
groups['Question'] = [x for x in range (0,10)]
groups.head(10)

   Question    Random  Group
4         0  0.086634      4
9         1  0.316701      9
8         2  0.339074      8
5         3  0.354573      5
6         4  0.408900      6
2         5  0.491092      2
3         6  0.522049      3
1         7  0.733374      1
7         8  0.772850      7
0         9  0.851140      0

In [3]:
groups.to_csv('./data/GroupsOrder.csv')